@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind plugins */
@layer utilities {
  /** 2줄을 기반으로 자르고 말줄임표(...)로 생략*/
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 원하는 줄 수를 여기에 입력하세요 */
    line-height: normal;
  }

  /** 1줄을 기반으로 자르고 말줄임표(...)로 생략*/
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: normal;
  }

  /** border 색을 또또가 그라데이션으로 */
  .border-custom-gradation {
    background-image: linear-gradient(#fff, #fff),
      linear-gradient(91deg, #ff0069, #ff7a00, #ff0068);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: 1px solid transparent;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Oswald&family=Poppins:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
