@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind plugins */
/** 2줄을 기반으로 자르고 말줄임표(...)로 생략*/
@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: normal;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Oswald&family=Poppins:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
